section>div {
  min-width: 50px;
  min-height: 50px;
  background-color: orange;
  border: 1px solid black;    
}
section {
  margin: 30px auto;
  display: flex;
  width: 500px;
  height: 400px;
  background-color: black;
  padding: 10px;  
  flex-direction: column-reverse;
  flex-wrap: wrap-reverse;
  align-items: center;
  gap: 10px;
}

div:nth-child(3) {
  align-self: flex-end;
}

div:nth-child(8) {  
  align-self: flex-end;
  order: 9;
}

div:nth-child(9) {
  order: 8;
  align-self: stretch;  
}

div:nth-child(10) {
  order: 10;
  align-self: flex-start;
}


