section 
{
margin: 30px auto;
display: flex;
width: 550px;
height: 400px;
background-color: black;
padding: 10px;
flex-direction: column-reverse;
flex-wrap: wrap-reverse;
}
div 
{
min-width: 50px;
min-height: 50px;
background-color: orange;
border: 1px solid black;
margin: 5px;

}
div:nth-child(1)
{
align-self: center;
}
div:nth-child(2)
{
align-self: center;
}
div:nth-child(3)
{
align-self: flex-end;
}
div:nth-child(4)
{
align-self: center;
}
div:nth-child(5)
{
align-self: center;
}
div:nth-child(6)
{
align-self: center;
}

div:nth-child(7)
{
align-self: center;
}

div:nth-child(8)
{
align-self: flex-end;
order: 1;
}

div:nth-child(9)
{
align-items: ;
}
div:nth-child(10)
{
align-self: flex-start;
order: 1;
}